<%-include("partials/top.ejs",{
    login:login,
    name:name
}); %>

<div class = "container">
    <h2>About the app</h2>
    <hr>
    <h3>
        This application  is created for creating your local home cloud with user authentication.
        <br>
        This is node based application uses mysql for database.
        <br>
        <strong>SUPPORTED FEATURES</strong>
        <br>
        1) user authentication
        <br>
        2) data upload
        <br>
        3) data download
        <br>
        4) data removal from the database.
        <br>
        5) new user creation.
        <br>
        6) old user account deletion.
</div>


<%-include("partials/bottom.ejs"); %>