<%-include("partials/top.ejs",{
    login:login,
    name:name
}); %>

<div class = "container">
    <h2>THIS WEB APPLICATION IS CREATED BY <strong>AMAN SINGH</strong></h2>
    <hr>
    <h2>YOU CAN  CONTACT ME AT MY EMAIL - aman66778@gmail.com</h2>
    <hr>
    <h2>THANK YOU FOR USING MY WEB APPLICATION :)</h2>
</div>


<%-include("partials/bottom.ejs"); %>