
<%-include("partials/top.ejs"); %>

<div class = "container">
    <h4 id = "msg">SELECT FILE TO UPLOAD</h4>
    <form method="POST" encType="multipart/form-data">
        <input type="file" name = "data" id="data" required>
        <br>
        <div class="progressBar">
            <span id ="percentage">0%</span>
            <span id="progressFill"></span>
        </div>
        <br>
        <button class="btn btn-success" type="button" onclick="myupload()">UPLOAD</button>
    </form>
</div>
<br>
<hr>
<div class = "container">
    <h2>YOUR PRECIOUS DATA</h2>
    <ul id="parent">

    </ul>
</div>
<script src="js/home.js"></script>

<%-include("partials/bottom.ejs"); %>